[submodule "limine"]
	path = limine
	url = https://github.com/Limine-Bootloader/Limine.git
	branch = v11.x
[submodule "clks"]
	path = clks
	url = https://github.com/CLeonOS/clks.git
[submodule "bdt"]
	path = bdt
	url = https://github.com/CLeonOS/kbt.git
[submodule "third_party/litehtml"]
	path = third_party/litehtml
	url = https://github.com/litehtml/litehtml.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/CLeonOS/tls.git
[submodule "xiaobaios/pkg"]
	path = xiaobaios/pkg
	url = https://github.com/CLeonOS/pkg.git
[submodule "third_party/cJSON"]
	path = third_party/cJSON
	url = https://github.com/DaveGamble/cJSON.git
